[Unit]
Description=restic-retention logger for %i
After=restic-retention@%i.service

[Service]
Type=simple

# user downgrade
User=restic
Group=systemd-journal

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full

# Prevent accessing /home, /root and /run/user
ProtectHome=true

# Prevent access to /dev | /dev/null,random,true,... will be virtually provided
PrivateDevices=true

# Prevent accessing /tmp
PrivateTmp=true

# extract logs
ExecStart=taskrunner-systemd "restic data retention policy of %i" restic-retention@%i.service

[Install]
WantedBy=restic-retention@%i.service
