[Unit]
Description=restic data retention policy schedule for %I

[Timer]
#monthly: *-*-01 00:00:00
OnCalendar=monthly

# do NOT start immediately if its missed (servers..)
Persistent=false

# linked unit instance
Unit=restic-retention@%i.service

[Install]
WantedBy=timers.target