[Unit]
Description=restic scheduler for %I
After=local-fs.target
Requires=local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
# the service manager will consider the unit up after the main process exits
Type=oneshot

# user downgrade
User=restic
Group=restic

# Allow access to full filesystem
AmbientCapabilities=CAP_DAC_READ_SEARCH

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full

# Prevent accessing /home, /root and /run/user
ProtectHome=read-only

# Prevent access to /dev | /dev/null,random,true,... will be virtually provided
PrivateDevices=true

# Prevent accessing /tmp
PrivateTmp=true

# low process priority
Nice=15

# low io priority
IOSchedulingClass=best-effort
IOSchedulingPriority=7

# env config
EnvironmentFile=/etc/restic/%I.conf

# run snapshot
ExecStart=restic backup \
    --cache-dir /var/cache/restic \
    --verbose \
    --one-file-system \
    --tag "restic.scheduler" \
    $BACKUP_ARGS \
    $BACKUP_PATHS