[Unit]
Description=restic data retention scheduler for %I
After=local-fs.target
Requires=local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
# the service manager will consider the unit up after the main process exits
Type=oneshot

# user downgrade
User=restic
Group=restic

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full

# Prevent accessing /home, /root and /run/user
ProtectHome=true

# Prevent access to /dev | /dev/null,random,true,... will be virtually provided
PrivateDevices=true

# Prevent accessing /tmp
PrivateTmp=true

# low process priority
Nice=15

# low io priority
IOSchedulingClass=best-effort
IOSchedulingPriority=7

# env config
Environment="RESTIC_CACHE_DIR=/var/cache/restic"
EnvironmentFile=/etc/restic/%I.conf

# run restic cleanup (forget + prune)
# only remove snapshots with tag=restic.scheduler
# --group-by "paths,tags" | The policy is then applied to each group of snapshots separately. This is a safety feature.
ExecStart=restic forget \
    --cache-dir    $RESTIC_CACHE_DIR \
    --verbose \
    --tag          "restic.scheduler" \
    --group-by     "paths,tags" \
    --keep-last    10 \
    --keep-daily   $RETENTION_POLICY_DAYS \
    --keep-weekly  $RETENTION_POLICY_WEEKS \
    --keep-monthly $RETENTION_POLICY_MONTHS \
    --keep-yearly  $RETENTION_POLICY_YEARS \
    --prune \
    $RETENTION_ARGS

# run backup integrity check
ExecStart=restic check \
    --verbose \
    $VALIDATION_ARGS
